.titulo-objetivo{

    color:#1e293b;

    line-height:1.15;

    margin-bottom:35px;

}

.opcion{

    width:100%;

    padding:18px;

    margin-bottom:15px;

    border:none;

    border-radius:18px;

    background:white;

    color:#334155;

    font-size:18px;

    font-weight:600;

    text-align:left;

    cursor:pointer;

    transition:.25s;

    box-shadow:
        0 8px 25px rgba(15,23,42,.05);

}

.opcion:hover{

    transform:translateY(-2px);

    background:#1565d8;

    color:white;

}